mixin card(product)
	.card.h-100
		img.card-img-top(src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...")
		.card-body.p-4
			.text-center
				h5.fw-bolder= product.name
				div= `$${product.price}`
		.card-footer.p-4.pt-0.border-top-0.bg-transparent
			.text-center.d-grid.gap-2
				input.form-control.form-control(type="number", id=`num-${product.id}`, value=1)
				a.btn.btn-outline-primary.mt-auto(id=`cart-${product.id}`,onClick=`addToCart(${product.id})`) Add to Cart